NEXT_PUBLIC_INSFORGE_URL=https://md9tnq8u.eu-central.insforge.app
NEXT_PUBLIC_INSFORGE_ANON_KEY=your-anon-key-here
INSFORGE_SERVICE_KEY=your-service-key
NEXT_PUBLIC_SHOP_NAME=Suhail Mobile Shop
NEXT_PUBLIC_SHOP_PHONE=+918299384658
NEXT_PUBLIC_WHATSAPP=918299384658
NEXT_PUBLIC_whatsapp=918299384658
NEXT_PUBLIC_SHOP_ADDRESS=Beside Canara Bank Building, In Front Of Chandapur Kothi, Kuchery Road, Rae Bareli-229001
NEXT_PUBLIC_INSTAGRAM=https://www.instagram.com/suhail_mobile_shop_raebareli
